@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.5;
    position: relative;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol, ul {
    list-style: none;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    max-width: 100%;
    overflow: hidden;	
    padding: 12px;
}

.whatsapp-fixo{
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.logo img{
    width: 160px;
    height: 160px;
}

.title{
    display: flex;
    font-family: "Poetsen One", sans-serif;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 28px;
    white-space: nowrap;
    margin-bottom: 8px;
}

.title > h1{
    color: #ACFF31;
    text-shadow: 5px 5px 8px #adff31b3;
}

h2 {
    color: #ACFF31;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 8px 0;
}

p{	
    line-height: 2em;
}

.content-text {
    margin-bottom: 24px;
}

main {
    max-width: 100%;
    position: relative;
}

.img{
    margin-bottom: 24px;  
    border-radius: 4px;   
}

.carrosel-lanches {
    display: flex;
    flex-direction: row;
    animation: slide 10s infinite ease-in;
    position: relative;
    transition: 0.5s ease-in-out;
    transform: translateX(0);
    justify-content: center;
}

.carrosel-lanches img {
    height: 400px;
    width: 400px;
    transition: opacity 0.5s ease; 
}

footer {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    height: 124px;
    font-size: 28px;
    background-color: rgb(24, 24, 24);
    color: #ACFF31;
    font-family: "Poetsen One", sans-serif;
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociais a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    width: 50px;
    height: 50px;
}

.fa-brands {
    font-size: 48px;
    color: rgb(255, 255, 255);
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .title{
        font-size: 32px;
    }

    .carrosel-lanches img {
        height: 600px;
        width: 600px;
    }

    .container{
    	padding: 0 24px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container{
    	padding: 0 36px;
    }	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .title{
        font-size: 38px;
    }

    .carrosel-lanches img {
        height: 400px;
        width: 400px;
    }

    .container{
    	padding: 0 42px;
    }	

    .container-box{
        display: flex;
        justify-content: space-around;
        align-items: center;
	    margin: 64px 0;
    }

    .container-2{
    	flex-direction: row-reverse;
    }

    .content-box{
	max-width: 400px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container{
    	padding: 0 84px;
    }	
 
    .container{
	justify-content: space-around;
    }

    .carrosel-lanches img {
        height: 500px;
        width: 500px;
    }

    .carrosel-lanches img {
        height: 500px;
        width: 500px;
    }
}